body {
	margin: 0;
	background-color: #000;
	color: #fff;
	font-family: Monospace;
	font-size: 13px;
	line-height: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	justify-content: center;
	overscroll-behavior: none;
}

a {
	color: #ff0;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

#info {
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}

a, button, input, select {
	pointer-events: auto;
}




#overlay {
	position: absolute;
	font-size: 16px;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.7);
}

	#overlay button {
		background: transparent;
		border: 0;
		border: 1px solid rgb(255, 255, 255);
		border-radius: 4px;
		color: #ffffff;
		padding: 12px 18px;
		text-transform: uppercase;
		cursor: pointer;
	}

#notSupported {
	width: 50%;
	margin: auto;
	background-color: #f00;
	margin-top: 20px;
	padding: 10px;
}
#container{
	position: fixed;
	background-color: transparent;
	pointer-events: none;
	top:0;
	left:0;
	z-index: -10;
	width: 100%;
	height: 100%;
}
#logo{
	position:relative;
	display: block;
	margin-left: auto;
	max-width: 20%;
	min-width: 250px;
	width: 100%;
	margin-right: auto;
}
.big-text{
	font-size: 5em;
	text-align: center;
	line-height: 60px;
	margin-top: 5px;;
	margin-bottom: 5px;
	color: #fff;
	font-family: Monospace;
	font-weight: bold;
}
.sub-text{
	font-size: 1.5em;
	text-align: center;
	color: #fff;
	font-family: Monospace;
	font-weight: bold;
}
.linklist{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.link-btn{
	margin-left: 10px;
	margin-right: 10px;
	font-size: 1.2em;
	
}